---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE} | About`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h2>About Me</h2>
      <p>
        Hi, I'm Michael. I'll build this out properly soon. I want a place to
        share my thoughts where I can then discuss them with others. Got some
        work to go!
      </p>
    </main>
    <Footer />
  </body>
</html>
